@model TP_KP_DLS.Models.UserRole

@{
    ViewBag.Title = "DetailsUserRole";
}

<h2>DetailsUserRole</h2>

<div>
    <h4>UserRole</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "EditUserRole", new {  id = Model.UserId, roleid=Model.RoleId }) |
    @Html.ActionLink("Back to List", "UserRoleList")
</p>
